@CHARSET "UTF-8";

.selectpick_div {
	background-color: #FFF;
	font-size: 13px;
	border-radius: 2px;
	border: solid 1px #ddd;
	line-height: 36px;
	position: absolute;
	padding-left: 5px;
	overflow: hidden;
	cursor: pointer;
	z-index: 9060;
}

.selectpick_icon {
    position: absolute;
 
    margin-right: 1px;
    margin-top: 7px;
    height: 18px;
    width: 18px;
    cursor: pointer;
    right: 0;
    top: 0;
}
.vin-wrap {
    width: 100%;
    display: -webkit-box;
    display: -ms-box;
    display: box;
    -webkit-box-orient: horizontal;
    -ms-box-orient: horizontal;
    box-orient: horizontal;
    height: 0;
}
.vin-input {
    display: block;
    outline: none;
    border-radius: 5px 0 0 5px;
    border: 1px solid #e5e5e5;
    padding: 10px;
    -webkit-box-flex: 3;
    -ms-box-flex: 3;
    box-flex: 3;
}
.vin-btn {
    display: block;
    background-color: #ccc;
    color: #fff;
    outline: none;
    border-width: 1px;
    border-style: solid;
    border-color: #ccc;
    padding: 10px;
    border-radius: 0 5px 5px 0;
    -webkit-box-flex: 1;
    -ms-box-flex: 1;
    box-flex: 1;
}
.vin-btn-f60{
    background-color: #f60;
    border-color: #f60;
}
#vin-icon{
    -webkit-transition: linear .3s;
    transition: linear .3s;
}
.selectpick_div:hover {
	background-color: #F5F5F5;
	border: solid 1px #ccc;
}

.selectpick_div:active {
    -webkit-box-shadow: 0 0 3px #09c;
	-moz-box-shadow: 0 0 3px #09c;
	box-shadow: 0 0 3px #09c;
	border: solid 1px #09c;
}

.selectpick_options {
    border-bottom: solid 1px #CFCFCF;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    position: absolute;
    z-index: 9999;
    font-size: 13.5px;
    background-color: #fff;
}

.selectpick_options ul {
	list-style: none;
	height: auto;
	margin: 0;
	padding: 0;
	z-index: 9060;
	font-size: 13.5px;
}

.selectpick_options ul li {
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
	padding-left: 5px;
	display: block;
	font-size: 13.5px;
	z-index: 9060;
	background-color: #fff;
}

.selectpick_options_selected {
	font-size: 13.5px;
	z-index: 9060;
}


.select_hide {
    filter: alpha(opacity=0);
    -webkit-opacity: 0;
	-moz-opacity: 0;
	opacity: 0;
    visibility: hidden;
}

.selectpick_no_select {
	cursor: default;
	color: #9a9898;
	background-color: #F5F5F5;
}

input.C_input{
    border: 1px solid #ddd;
    height: 36px !important;
    border-radius: 2px !important;
    padding-left: 5px !important;
    box-shadow: none;
    -webkit-appearance: none;
    -moz-appearance: none;
}

.selectpick_fake{
    height: 36px;
    border: 1px solid #ddd;
    border-radius: 2px;
}

.select_value{
    width: 100%;
    line-height: 36px;
    height: 36px;
    float: left;
    font-size: 12px;
    padding-left: 5px;
    text-align: left;
    overflow: hidden;
    word-wrap: break-word;
    white-space: nowrap !important;
    text-overflow: ellipsis;
    display: inline-block;
}

body,html{
    font-size: 14px;
}

.s-1, .s-2{
    padding: 20px 0 30px;
    text-align: center;
    position: relative;
    border-bottom: 1px solid #999;
    margin: 0 10px;
}
.s-1>div{
    width: 242px;
    height: 32px;
    margin: 0 auto;
}
.s-1>div>span{
    float: left;
    display: block;
}
.s-1>div>span:first-of-type {
    background: url("../../theme/images/logo.png") no-repeat;
    width: 101px;
    height: 32px;
    border-right: 1px solid #999;
    padding-right: 20px;
    background-size: contain;
}
.s-1>div>span:nth-of-type(2) {
    font-size: 18px;
    height: 32px;
    width: 105px;
    padding-left: 15px;
    line-height: 32px;
}

.s-3 {
    padding: 20px 10px 19px;
}
.des {
    color: #999;
    padding: 5px 0 0 12px;
    line-height: 1.5;
}
.title {
    text-align: center;
    position: relative;
}
.title>span {
    background-color: #fff;
    position: relative;
    top: -11px;
    padding: 0 10px;
    color: #999;
}
.s-2>div{
    display: inline-block;
    margin: 0 auto;
    color: #999;
}
.s-2>div>div{
    float: left;
}
.s-2>div>div>span{
    display: block;
    float: left;
}
.s-2 .left>span:first-of-type{
    width: 62px;
    height: 29px;
    margin: 4px 6px 0 0;
    background: url("../../theme/images/efficiency.png") no-repeat;
    background-size: contain;
}
.s-2 .right>span:first-of-type{
    width: 62px;
    height: 29px;
    margin: 4px 6px 0 0;
    background: url("../../theme/images/highprice.png") no-repeat;
    background-size: contain;
}
.s-2 .left{
    border-right: 1px solid #999;
    padding-right: 15px;
}
.s-2 .right{
    padding-left: 15px;
}
.s-2{
    padding-top: 10px;
}

.des>a {
    text-decoration: underline;
    color: inherit;
}

@media screen and (min-device-width: 375px){
    .s-2 .left>span:first-of-type{
        width: 69px;
        height: 32px;
        margin: 3px 10px 0 0;
    }
    .s-2 .right>span:first-of-type{
        width: 69px;
        height: 32px;
        margin: 3px 10px 0 0;
    }
    .s-2 .left{
        padding-right: 20px;
    }
    .s-2 .right{
        padding-left: 20px;
    }
}
.clearfix{
    clear: none !important;
}
.clearfix:after{
    content: '';
    display: block;
    height: 0;
    visibility: hidden;
    clear: both;
}